@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@layer components {
    .dots-dark {
        @apply h-[6px] w-[6px] bg-dots-dark rounded-full
    }
    .description {
        @apply font-light text-2xl sm:text-3xl md:text-4xl md:leading-snug
    }
    .input {
        @apply border-[#464660] p-3 border rounded-lg w-full hover:outline hover:outline-1
    }
    .button {
        @apply bg-headline-black h-14 rounded-lg text-white text-center w-full
        mt-10 shadow-button
    }
}
